*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;

   
}
.container{
    width: 100vw;
    height: 100vh; 
    background-color: black;
}

.view-pannel{
    color: white;
    text-align: right;
    display: flex;
    position: fixed;
    right: 0;
    top: 5%;

}
.view-pannel > *{
    border-radius: 2px;
   background-color: rgba(211, 211, 211, 0.389);
   padding: .5rem;
   margin-right: .5rem;
}
.row{
    display: flex;
}
.user{
    padding: .2rem .1rem;
}
    
.img-user{
   flex-grow: 1;
   gap: 1px;
}

.img-user img{
    width: 100%;
}
.con{
    position: relative;
    top: 20%;
    left: 10%;
    right: 10%;
    width: 80%;
}