*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;

   
}


.container{
    width: 100vw;
    height: 100vh; 
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10rem;
}
   

.view-pannel{
    color: white;
    text-align: right;
    display: flex;
    position: fixed;
    right: 0;
    top: 5%;
    z-index: 10;
}

.view-pannel > *{
    border-radius: 2px;
    background-color: rgba(211, 211, 211, 0.389);
    padding: .5rem;
    margin-right: .5rem;
}

.row{
    display: flex;
}
.user{
    padding: .2rem .1rem;
    position: relative ;
}
.img-user img{
    width: 100%;
    
}    
.img-user{
   flex-grow: 1;
}

.user-info >*{
    display: inline-block;
    color: white;
   
}
.user-info{
    position: absolute;
    bottom: 8px; 
    left: 0;
    background-color: rgba(117, 115, 115, 0.69);
    padding: .2rem; 
}

.user-bar{
    background-color: gray;
    padding: 2rem;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}


.bar-options{
    display: flex;
}
.bar-options>*{ 
    display: inline-block;
    text-align: center;
}
.options-left>*{
    display: inline-block;
    
}
.options-center>*{
    display: inline-block;
}

.options-center{
    flex-basis: 72%;
}
.options-right{
    flex-basis: 10%;
    text-align: right;
}
